:root{
    --background: url("images/vecteezy_simple-vector-background-with-turquoise-dominant-color_9743020.jpg");
    --bg-position: center center;
    --bg-size: cover;
    --border-theme: white white lightblue lightblue;
    --main-color: whitesmoke;
    --alt-color: blue;
    --hover-color: #0066ff;
    --text-color: black;
    --invalid-color:red;
}

/* :root{
    --background: url("images/vecteezy_aesthetic-background-illustrations-of-clouds-stars-and-sky_21583370-1.jpg");
    --bg-position: center center;
    --bg-size: cover;
    --border-theme: white white lightblue lightblue;
    --main-color: whitesmoke;
    --alt-color: blue;
    --hover-color: #0066ff;
    --text-color: black;
} */

body{
    background-image: var(--background);
    background-position: var(--bg-position);
    background-size: var(--bg-size);
    font-family: 'Noto Sans KR', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60vh;
    min-height: 60vh;
    border: solid 0.25rem;
    border-color: var(--border-theme);
    border-radius: 25px;
}

@media only screen and (max-width:768px) {

    main{
        align-items: flex-start;
    }

    #content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 97vh;
    }
    img{
        max-height: 22vh;
        max-width: auto;
    }
    .user-input{
        height: 3rem;
    }

    #form-container{
        width: 50vh;
    }

    input{
        min-width: 100%;
    }

    ::placeholder{
        font-size: 1.5rem;
    }

    h1{
        font-size: 5rem;
    }
}

h1{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bolder;
}

p{
    color: var(--text-color);
    font-size: 0.75rem;
}

#sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.user-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

svg{
    fill: var(--main-color);
    padding-right: 1rem;
}

input{
    height: 2rem;
    background: transparent;
    width: 12rem;
    border: none;
    border-bottom: solid 0.1rem var(--main-color);
}

::placeholder{
    color: var(--main-color);
}

#plane-image{
    height: 20rem;
}

#submit{
    background-color: var(--alt-color);
    color: var(--main-color);
    border: solid 0.1rem var(--alt-color);
    border-radius: 25px;
    padding: 0.5rem;
}

#submit:hover{
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

#sign-in-or-sign-up{
    flex-direction: column;
}

#sign-in{
    text-decoration: none;
    color: var(--alt-color);
}

#sign-in:hover{
    color: var(--hover-color);
}

.invalid-entry{
    border-bottom: solid 0.1rem var(--invalid-color);
}